@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.nav__link, .foot__link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-family: "Balsamiq Sans", sans-serif; }

.header__foot, .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0; }

.main__title, .interested__label, .about__name, .nice__title, .tech__label, .benefit__label, .info__title {
  font-size: 36px;
  line-height: 46px;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-weight: 800;
  text-transform: uppercase; }

.main__title--accent, .interested__label--accent, .about__name--accent, .nice__title--accent, .tech__label--accent, .benefit__label--accent, .info__title--accent {
  font-family: "Quantum", sans-serif;
  color: #05c2df;
  font-size: 36px;
  line-height: 46px;
  text-transform: uppercase; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Quantum";
  src: url("../fonts/QuantumRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background: linear-gradient(118.69deg, #191536 0%, #000 100%);
  overflow: hidden;
  padding: 0 10%; }
  @media screen and (max-width: 1050px) {
    .header {
      height: 100%; } }
  .header__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 1050px) {
      .header__main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%; } }
  .header__icon {
    display: none; }
    @media screen and (max-width: 1050px) {
      .header__icon {
        display: block;
        position: relative;
        top: 30px;
        left: 90%;
        z-index: 2;
        cursor: pointer; } }
  @media screen and (max-width: 1050px) {
    .header__nav {
      display: none; } }
  @media screen and (max-width: 1050px) {
    .header__text {
      font-size: 16px;
      line-height: 150%;
      color: #929292;
      font-family: "Balsamiq Sans", sans-serif;
      position: relative;
      left: 30%; } }
  .header__check {
    opacity: 0; }
  @media screen and (max-width: 1050px) {
    .header__check:checked + .header__nav {
      display: block; } }
  @media screen and (max-width: 1050px) {
    .header__check:checked ~ .header__main {
      display: none; } }
  .header__foot {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    top: -100px; }
    .header__foot :nth-child(3) {
      margin: 0 250px; }
    @media screen and (max-width: 1050px) {
      .header__foot {
        display: none; } }

.nav__list {
  position: relative;
  top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1; }
  @media screen and (max-width: 1050px) {
    .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 100%;
      top: -10px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      z-index: 1; } }

@media screen and (max-width: 1050px) {
  .nav__item {
    margin-bottom: 50px; } }

.nav__link {
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s; }
  .nav__link:hover {
    color: #05c2df;
    text-shadow: 2px 0 10px #fff; }

.nav__select {
  margin-right: 300px;
  margin-left: -30px; }
  @media screen and (max-width: 1050px) {
    .nav__select {
      margin: 0; } }

.nav__button {
  background: #05c2df;
  border-radius: 4px;
  width: 200px;
  height: 48px;
  border: none;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
  font-family: "Balsamiq Sans", sans-serif; }

.main__title {
  font-size: 46px;
  margin: 0;
  white-space: nowrap; }
  @media screen and (max-width: 1050px) {
    .main__title {
      white-space: pre-wrap;
      font-size: 30px; } }

.main__text {
  font-size: 16px;
  line-height: 150%;
  color: #929292;
  font-family: "Balsamiq Sans", sans-serif;
  position: relative;
  left: 30%; }
  @media screen and (max-width: 1050px) {
    .main__text {
      left: 0; } }

.main__price {
  color: #fff;
  font-size: 18px;
  line-height: 23px;
  font-family: "Balsamiq Sans", sans-serif;
  position: relative;
  left: 30%; }
  @media screen and (max-width: 1050px) {
    .main__price {
      left: 0; } }

.main__button {
  border: 1px solid #05c2df;
  background: rgba(25, 21, 54, 0.1);
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  width: 200px;
  height: 50px;
  font-family: "Balsamiq Sans", sans-serif; }

.main__img {
  position: relative;
  left: -10%;
  z-index: 0; }
  @media screen and (max-width: 1050px) {
    .main__img {
      left: -5%;
      width: 150%;
      position: relative;
      top: -100px; } }

@media screen and (max-width: 1050px) {
  .main__content {
    width: 100%;
    position: relative;
    text-align: center;
    top: -150px; } }

.foot__link {
  -webkit-transition: 1s;
  transition: 1s;
  position: relative; }
  .foot__link:hover {
    color: #05c2df;
    text-shadow: 2px 0 10px #fff; }
    .foot__link:hover:after {
      content: " ";
      border: 5px solid transparent;
      border-top: 5px solid #05c2df;
      position: absolute;
      top: 25px;
      right: 30%; }

.interested {
  overflow: hidden;
  height: 622px;
  background: #05040b;
  padding: 0 10%; }
  .interested__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .interested__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .interested__label {
    margin-top: 80px;
    margin-bottom: 0; }
  .interested__img {
    -webkit-transition: 2s;
    transition: 2s; }
    .interested__img:hover {
      -webkit-transform: scale(1.4);
              transform: scale(1.4); }
  .interested__descr {
    color: #05c2df;
    margin-bottom: 80px;
    font-size: 14px;
    line-height: 18px;
    font-family: "Balsamiq Sans", sans-serif;
    position: relative;
    left: 5%; }
  .interested__name {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-transform: uppercase; }
  .interested__text {
    font-family: "Balsamiq Sans", sans-serif;
    color: #929292; }

@media screen and (max-width: 900px) {
  .interested {
    text-align: center;
    height: 100%; }
    .interested__block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.about {
  padding: 5% 10%;
  overflow: hidden;
  height: 1443px;
  background: linear-gradient(143.64deg, #191536 -0.5%, #000 99.5%); }
  @media screen and (max-width: 1050px) {
    .about {
      text-align: center;
      height: 100%; } }
  .about__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 1050px) {
      .about__title {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .about__text {
    font-family: "Balsamiq Sans", sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #929292; }
  .about__kat {
    position: relative;
    top: -600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 1050px) {
      .about__kat {
        top: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }

.vr__center {
  background-image: url(../images/about.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 515px;
  height: 463px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  left: 50%;
  top: -400px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%); }
  @media screen and (max-width: 1050px) {
    .vr__center {
      margin: 50px 0;
      position: relative;
      top: 100%;
      width: 90%;
      height: 100%; } }

.vr__left {
  color: #fff;
  font-family: "Balsamiq Sans", sans-serif;
  position: relative;
  left: 12%;
  top: 120px; }
  @media screen and (max-width: 1050px) {
    .vr__left {
      display: none; } }

.vr__right {
  color: #fff;
  font-family: "Balsamiq Sans", sans-serif;
  position: relative;
  left: 78%;
  top: -825px; }
  @media screen and (max-width: 1050px) {
    .vr__right {
      display: none; } }

.vr__img {
  -webkit-transition: 2s;
  transition: 2s; }
  @media screen and (max-width: 1050px) {
    .vr__img {
      width: 90%; } }
  .vr__img:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }

.left__par,
.right__par {
  margin-bottom: 115px; }

.nice__hello {
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #05c2df;
  position: relative;
  right: 2%; }

.nice__text {
  font-size: 16px;
  line-height: 150%;
  color: #929292;
  font-family: "Balsamiq Sans", sans-serif; }

.nice__img {
  -webkit-transition: 2s;
  transition: 2s;
  width: 30%; }
  @media screen and (max-width: 1050px) {
    .nice__img {
      width: 100%; } }
  .nice__img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }

.button__play {
  border: 1px solid #05c2df;
  background: rgba(25, 21, 54, 0.1);
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  width: 200px;
  height: 50px;
  font-family: "Balsamiq Sans", sans-serif; }

.tech {
  padding: 0 10%;
  height: 690px;
  background: #05040b;
  overflow: hidden; }
  @media screen and (max-width: 1050px) {
    .tech {
      height: 100%; } }
  .tech__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 1050px) {
      .tech__block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .tech__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .tech__label {
    padding: 50px 0; }
  .tech__name {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 23px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; }
  .tech__text {
    font-family: "Balsamiq Sans", sans-serif;
    text-align: justify;
    font-size: 16px;
    line-height: 150%;
    color: #929292; }
  .tech__img {
    -webkit-transition: 2s;
    transition: 2s; }
    .tech__img:hover {
      -webkit-transform: scale(1.4);
              transform: scale(1.4); }

.benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10%;
  height: 639px;
  overflow: hidden;
  background: linear-gradient(124.02deg, #191536 0%, #000 77.34%); }
  @media screen and (max-width: 1050px) {
    .benefit {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      height: 100%;
      width: 80%; } }
  .benefit__label {
    margin-top: 100px;
    margin-bottom: 0; }
    @media screen and (max-width: 1050px) {
      .benefit__label {
        text-align: center;
        margin-top: 10px; } }
  .benefit__img {
    position: relative;
    left: 10%;
    -webkit-transition: 2s;
    transition: 2s; }
    @media screen and (max-width: 1050px) {
      .benefit__img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        left: 0;
        width: 80%; } }
    .benefit__img:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .benefit__numb {
    display: inline;
    font-size: 72px;
    font-family: "Quantum", sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #05c2df;
    color: rgba(25, 21, 54, 0.1);
    position: relative;
    left: -50px;
    top: 50px; }
    @media screen and (max-width: 1050px) {
      .benefit__numb {
        left: 0;
        margin-top: 50px; } }
  .benefit__name {
    display: inline;
    white-space: nowrap;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    color: #fff;
    margin: 0;
    text-align: left; }
    @media screen and (max-width: 1050px) {
      .benefit__name {
        white-space: pre-wrap;
        margin-left: 50px;
        width: 80%; } }
  .benefit__text {
    margin-top: 0;
    font-size: 16px;
    font-family: "Balsamiq Sans", sans-serif;
    line-height: 150%;
    color: #929292; }
    .benefit__text:after {
      content: "";
      display: block;
      width: 47px;
      height: 1px;
      background-color: #05c2df; }
    @media screen and (max-width: 1050px) {
      .benefit__text {
        padding: 0 50px; } }
  .benefit__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100px; }
  .benefit__button {
    font-family: "Balsamiq Sans", sans-serif;
    width: 200px;
    height: 50px;
    border: none;
    background: #05c2df;
    border-radius: 4px;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
    margin-top: 53px; }
    @media screen and (max-width: 1050px) {
      .benefit__button {
        position: relative;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0); } }

.contact {
  background: #05040b;
  position: relative;
  top: -5px; }
  .contact__contant {
    padding: 0 10%;
    height: 589px;
    background: #05040b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden; }
    @media screen and (max-width: 1050px) {
      .contact__contant {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0 10%;
        height: 100%; } }
  .contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 520px; }
    @media screen and (max-width: 1050px) {
      .contact__form {
        width: 100%; } }
  .contact__input {
    outline: none;
    background-color: #05040b;
    border: none;
    border-bottom: 1px solid #2f2f2f;
    color: #929292;
    font-family: "Balsamiq Sans", sans-serif;
    line-height: 64px;
    font-size: 14px; }
    .contact__input:last-child {
      height: 150px; }

.info {
  position: relative;
  top: -3%;
  margin-left: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 1050px) {
    .info {
      margin: 0;
      text-align: center; } }
  .info__title {
    margin-top: 0;
    margin-bottom: 0; }
  .info__top {
    position: relative;
    left: -30px;
    font-size: 14px;
    line-height: 18px;
    color: #05c2df;
    font-family: "Balsamiq Sans", sans-serif; }
  .info__text {
    text-decoration: none;
    font-family: "Balsamiq Sans", sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #929292;
    margin-bottom: 5px; }
    .info__text:nth-child(3) {
      margin-bottom: 52px; }
  .info__button {
    background: #05c2df;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    border: none;
    font-family: "Balsamiq Sans", sans-serif;
    color: #fff;
    margin-top: 50px; }
    @media screen and (max-width: 1050px) {
      .info__button {
        margin: 5% 50%;
        -webkit-transform: translate(-50%);
                transform: translate(-50%); } }

.footer {
  height: 100px;
  background: #000;
  padding: 0 10%; }
  @media screen and (max-width: 1050px) {
    .footer {
      display: none; } }
  .footer__list {
    position: relative;
    top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    color: #f2f2f2;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__link {
    color: #f2f2f2;
    text-decoration: none;
    font-family: "Balsamiq Sans", sans-serif;
    -webkit-transition: 2s;
    transition: 2s;
    font-size: 16px; }
    .footer__link:hover {
      position: relative;
      color: #05c2df;
      text-shadow: 2px 0 10px #fff; }
  .footer__logo {
    margin-right: 15px; }

body,
html,
li,
ul,
div {
  margin: 0; }

body {
  background: #05040b; }

.container {
  max-width: 1200px;
  margin: auto; }

button {
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s; }
  button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 2px 2px 50px 2px rgba(161, 240, 242, 0.45);
            box-shadow: 2px 2px 50px 2px rgba(161, 240, 242, 0.45); }

/*# sourceMappingURL=main.css.map */
